# Python
__pycache__
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv
env/
venv/

# Django
db.sqlite3
*.log
media/

# uv
.python-version

# Dev tools
.ruff_cache
.mypy_cache
.pytest_cache
.coverage
htmlcov/

# Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore

# Editor
.vscode
.idea
